.swipe-button-container {
  color: white;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: black;
  color: inherit;
  cursor: pointer;
  height: 40px;
  width: 170px;
  border-radius: 150px;
  letter-spacing: 2px;
}

