<!-- tabla-plazos.component.html -->
<h2>Administración de Plazos</h2>
<table>
  <thead>
    <tr>
      <th>Semanas</th>
      <th>Tasa Normal</th>
      <th>Tasa Puntual</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plazo of plazos">
      <td>{{ plazo.semanas }}</td>
      <td>{{ plazo.tasaNormal }}</td>
      <td>{{ plazo.tasaPuntual }}</td>
      <td>
        <button (click)="eliminarPlazo(plazo)">Eliminar</button> <!-- Botón para eliminar el plazo -->
      </td>
    </tr>
  </tbody>
</table>
