table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #000;
  padding: 0.5rem;
}

th {
  background-color: #000;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td button {
  padding: 0.3rem 0.5rem;
  background-color: #A61248;
  border-radius: 75px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 80%;
}

td button:hover {
  background-color: #333;
}
